* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  background-color: lightblue;
  font-family: "Englebert",cursive;
  font-size: 30px;
}

.container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  height: 80%;
  border: solid 8px #8b4513;
  border-radius: 30px;
  box-shadow: 10px 10px 20px gray;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
}

.water { 
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
}

.pond  {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* This style is to make my grid corner rounded */
.pond:nth-child(1){
    border-top-left-radius: 40px;
}

.pond:nth-child(4){
    border-top-right-radius: 40px;
}

.pond:nth-child(13){
    border-bottom-left-radius: 40px;
}

.pond:nth-child(16){
    border-bottom-right-radius: 40px;
}

.lilypad {
    width: 80%;
    height: 80%;
    z-index: 1;
}


.frog {
  width: 90%;
  height: 90%;
  position: absolute;
  z-index: 1;

}

@media (max-width: 400px) {

  h1 { 
    width: 95vmin;
    text-align: center;
  }
  .container {
    width: 95vmin;
    height: 95vmin;
  }
}
